*{
    margin: 0;
    padding: 0;
}
body{
    background: #FDDE7E;
    margin: 10% 20%;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#FDDE7E ;
}
.bronze{
    padding-top: 30px;
    width: 360px;
    height: 400px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.gold{
    padding-top: 50px;
    margin-left: 30px;
    width: 360px;
    height: 460px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.silver{
    padding-top: 30px;
    margin-left: 30px;
    width: 360px;
    height: 400px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
h2{
    width: 71px;
    height: 88px;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 88px;
    color: #02995B;
    padding-left: 100px;
    padding-bottom: 15px;
}
img{
    width: 135px;
    height: 134px;
    padding-bottom: 15px;
}
.name_cup{
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    font-size: 51px;
    line-height: 64px;
    text-align: center;

    color: #333333;
}
p{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
